/***********************************
* Style for InterMactivity Tombola *
***********************************/

body {
	font-family: verdana, arial, sans-serif;
	font-weight: lighter;
}


/* Container */
div#container {
	width: 800px;
	margin: auto;
	border-bottom: 7px solid rgb(161, 186, 70);
}


/* Page title */
h1 {
	font-size: 18px;
	font-weight: lighter;
	border-bottom: 7px solid rgb(161, 186, 70);
	margin-top: 40px;
	padding-bottom: 10px;
	
	/* Add InterMactivity above the text of the header */
	padding-top: 94px;
	background-image: url('./im_logo.gif');
	background-repeat: no-repeat;
	background-position: top center;
}


/* For all subtitles (including the notices)*/
h2 {
	font-size: 18px;
	font-weight: lighter;
}


/* Errors and Notifications */
h2.notice {
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

h2.notice.good {
	border-color: rgb(161, 186, 70);
	color: rgb(161, 186, 70);
}

h2.notice.error {
	border-color: red;
	color: red;
}


/* Winners */
#winners p {
    text-align: center;
}

#winners img {
    cursor: pointer;
}

#winners h3 {
    text-align: center;
    font-size: 70px;
    color: rgb(153, 153, 153);
}

#winners ol {
    font-size: 24px;
}

#winners li {
    margin: 10px;
}


/* Footer */

footer {
	color: rgb(153, 153, 153);
	font-size: 11px;
}

footer p {
	margin-top: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
